<td><a class="entity-link" href="{{entityUrl}}">{{id}}</a></td>
<td>{{department.attributes.name}}</td>
<td>{{sku.attributes.name}}</td>
<td>{{#if isActive}}Yes{{else}}No{{/if}}</td>
<td>{{count}}</td>
<td>{{lookup types type}}</td>