<ul>
	<li class="si-tabs-dropdown
		{{~#ifIsRouteActive '/sku'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/part'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/part_category'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/part_group'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/commodity'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/unit_type'}} is-active{{/ifIsRouteActive~}}
	">
		<a>Inventory Options</a>
		<ul>
			<li class="{{#ifIsRouteActive '/sku'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/sku">SKUs</a></li>
			<li class="{{#ifIsRouteActive '/part'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/part">Parts</a></li>
			<li class="{{#ifIsRouteActive '/part_category'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/part_category">Part Categories</a></li>
			<li class="{{#ifIsRouteActive '/part_group'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/part_group">Part Groups</a></li>
			<li class="{{#ifIsRouteActive '/commodity'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/commodity">Commodities</a></li>
			<li class="{{#ifIsRouteActive '/unit_type'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/unit_type">Unit Types</a></li>
		</ul>
	</li>
	<li class="si-tabs-dropdown
		{{~#ifIsRouteActive '/bin'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/bin_type'}} is-active{{/ifIsRouteActive~}}
	">
		<a>Location Options</a>
		<ul>
			<li class="{{#ifIsRouteActive '/bin'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/bin">Bins</a></li>
			<li class="{{#ifIsRouteActive '/bin_type'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/bin_type">Bin Types</a></li>
		</ul>
	</li>
	<li class="si-tabs-dropdown
		{{~#ifIsRouteActive '/inventory_movement_rule'}} is-active{{/ifIsRouteActive~}}
		{{~#ifIsRouteActive '/inventory_alert'}} is-active{{/ifIsRouteActive~}}
	">
		<a>Rules and Alerts</a>
		<ul>
			<li class="{{#ifIsRouteActive '/inventory_movement_rule'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_movement_rule">Inventory Movement Rules</a></li>
			<li class="{{#ifIsRouteActive '/inventory_alert'}}is-active{{else}}not-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_alert">Inventory Alerts</a></li>
		</ul>
	</li>
</ul>