<td>{{id}}</td>
<td>{{client.attributes.name}}</td>
<td><a class="entity-link" href="{{entityUrl}}">{{label}}</a></td>
<td>{{truncate description}}</td>
<td>{{boolean isVoid}}</td>
<td>{{travelerIdCount}}</td>