<td>{{id}}</td>
<td><a class="entity-link" href="{{entityUrl}}">{{name}}</a></td>
<td>{{number}}</td>
<td>{{label}}</td>
<td>
	{{#if part}}
		Part: {{part.attributes.name}}
	{{/if}}
	{{#if commodity}}
		Commodity: {{commodity.attributes.name}}
	{{/if}}
	{{#if unitType}}
		Unit Type: {{unitType.attributes.name}}
	{{/if}}
</td>
<td>{{quantity}}</td>
<td>{{#if isVoid}}Yes{{else}}No{{/if}}</td>