<h3 class="title is-3 has-text-centered">Account</h3>
<form data-ui="accountInfo">
	<label class="label">Owner</label>
	<p class="control has-addons">
		<span class="select">
	    	<select name="owner"></select>
		</span>
	   	<button class="button is-primary" type="button" data-ui="changeOwner">Change</button>
	</p>
	<label class="label">Subscription Plan</label>
	<div class="control is-grouped level">
		<p class="control has-addons">
			<span class="select">
		    	<select name="plan"></select>
			</span>
		   	<button class="button is-primary" type="button" data-ui="changePlan">Change</button>
		</p>
		<p class="control">
		   	{{#if subscription}}
		   		<button class="button is-danger" type="button" data-ui="cancelSubscription">Cancel</button>
	   		{{else}}
	   			<button class="button" type="button" data-ui="startSubscription">Start</button>
	   		{{/if}}
		</p>
		<p class="control">
			{{#each subscription.attributes.stripeStatuses}}
		   		{{#ifCond this '==' ../subscription.attributes.status}}
		   			<span class="tag {{#ifCond this '<' 3}}is-info{{else}}is-danger{{/ifCond}}">{{titleCase @key}}</span>
	   			{{/ifCond}}
		   	{{/each}}
		<p>
	</div>
	<p data-ui="planDesc"></p>
</form>
<table class="table is-striped">
	<thead>
		<tr><th colspan="6"><h4 class="title is-4 has-text-centered">Payment Methods</h4></th></tr>
		<tr>
			<th>#</th>
			<th>Type</th>
			<th>Last Four Digits</th>
			<th>Expiration</th>
			<th style="width:50px"></th>
		</tr>
	</thead>
	<tbody data-region="paymentSources"></tbody>
</table>
<button class="button is-info" type="button" data-ui="addPaymentInfo">Add Payment Info</button>
<table class="table is-striped">
	<thead>
		<tr>
			<th colspan="5">
				<h4 class="title is-4 has-text-centered">Current Monthly TravelerIds</h4>
				<p class="has-text-centered">{{monthlyTravelerIds}} / {{subscription.attributes.plan.attributes.maxMonthlyTravelerIds}}</p>
			</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<table class="table is-striped">
	<thead>
		<tr>
			<th colspan="6">
				<h4 class="title is-4 has-text-centered">Current Sessions</h4>
				<p class="has-text-centered">{{currentSessions.length}} / {{subscription.attributes.plan.attributes.maxConcurrentUsers}}</p>
			</th>
		</tr>
		<tr>
			<th>#</th>
			<th>Id</th>
			<th>For User</th>
			<th>Started At</th>
			<th>Last Updated At</th>
			<th></th>
		</tr>
	</thead>
	<tbody data-region="currentSessions"></tbody>
</table>
<table class="table is-striped">
	<thead>
		<tr><th colspan="6"><h4 class="title is-4 has-text-centered">Change History</h4></th></tr>
		<tr>
			<th>#</th>
			<th>Type</th>
			<th>Changed At</th>
			<th>Changed By</th>
			<th>Old Value</th>
			<th>New Value</th>
		</tr>
	</thead>
	<tbody data-region="changeHistory"></tbody>
</table>
<table class="table is-striped">
	<thead>
		<tr><th colspan="3"><h4 class="title is-4 has-text-centered">Billing History</h4></th></tr>
		<tr>
			<th>#</th>
			<th>Charged At</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody data-region="billingHistory"></tbody>
</table>
