<td>{{rowNum}}</td>
<td>{{id}}</td>
<td>{{forUsername}}</td>
<td>{{moment startedAt}}</td>
<td>{{moment updatedAt}}</td>
<td>
	<button class="button is-danger is-small" type="button" data-ui="closeSession" title="Logout Session">
		<span class="icon is-small">
			<i class="fa fa-close"></i>
		</span>
	</button>
</td>

