<td>{{id}}</td>
<td>
	{{brand}}
</td>
<td>...{{last4}}</td>
<td>{{expirationMonth}} / {{expirationYear}}</td>
<td>
	<button class="button is-danger is-small" type="button" data-ui="removePaymentMethod" title="Remove Payment Method">
		<span class="icon is-small">
			<i class="fa fa-minus"></i>
		</span>
	</button>
</td>

