<td>{{id}}</td>
<td>
	{{#if newOwner}}
		Owner
	{{/if}}
	{{#if newPlan}}
		{{#if isAuto }}
			(Auto)
		{{/if}}
		Subscription Plan
	{{/if}}
</td>
<td>{{moment changedAt}}</td>
<td>{{changedBy.attributes.username}}</td>
<td>{{oldOwner.attributes.username}}{{oldPlan.attributes.name}}</td>
<td>{{newOwner.attributes.username}}{{newPlan.attributes.name}}</td>
