<div class="columns">
	<div class="column is-one-third is-offset-one-third">
		<figure class="image">
		  <img src="/assets/images/si-logo-small.png">
		</figure>
	</div>
</div>
<div class="columns">
	<div class="column is-one-third is-offset-one-third">
		<div class="message is-primary">
		  <div class="message-header">
		    <p>Latest Annoucement</p>
		  </div>
		  <div class="message-body">
		    {{appAnnouncement.attributes.content}}
		  </div>
		</div>
	</div>
</div>
<div class="columns">
	<div class="column is-one-third is-offset-one-third">
	    <h3 class="title is-3">Inventory Alerts</h3>
		<ul>
		{{#each inventoryAlertLogs.models}}
			<li class="notification is-warning">
				<button class="delete" data-log-id="{{id}}"></button>
				{{this.attributes.inventoryAlert.attributes.department.attributes.name}} -
				{{this.attributes.inventoryAlert.attributes.sku.attributes.name}}:
				{{this.attributes.count}}
				{{lookup this.attributes.inventoryAlert.attributes.types this.attributes.inventoryAlert.attributes.type}}
				{{this.attributes.inventoryAlert.attributes.count}}
				at {{moment this.attributes.performedAt}}.
			</li>
		{{else}}
			<li class="notification is-success">No Alerts Found</li>
		{{/each}}
		</ul>
	</div>
</div>