{{#if menuLink.url}}
	<a href="{{baseUrl menuLink.url}}">{{menuLink.name}}</a>
{{else}}
	{{menuLink.name}}
{{/if}}
<ul>
	{{#each children}}
		{{#if this.menuLink.url}}
			<a href="{{baseUrl this.menuLink.url}}">{{this.menuLink.name}}</a>
		{{else}}
			{{this.menuLink.name}}
		{{/if}}
	{{/each}}
</ul>