<button name="print" type="button" class="button">Print</button>
<button name="back" type="button" class="button">Back</button>
<div data-ui="printContainer">
	<h3 class="title is-3">Bin #{{id}} : {{name}}, Has {{travelerIds.length}} Traveler Ids.</h3>
	<div class="box">
		<div class="is-pulled-left">
			<ul>
			{{#each tidColumns.[0]}}
				<li>
					<p class="has-text-centered" data-ui-top-label>
			    		{{#if this.attributes.part}}
							<span class="heading">Part:</span>{{this.attributes.part.attributes.name}}
						{{/if}}
					</p>
					<svg jsbarcode-value="{{this.attributes.label}}"></svg>
				</li>
			{{/each}}
			</ul>
		</div>
		<div class="is-pulled-left">
			<ul>
			{{#each tidColumns.[1]}}
				<li>
					<p class="has-text-centered" data-ui-top-label>
			    		{{#if this.attributes.part}}
							Part: {{this.attributes.part.attributes.name}}
						{{/if}}
					</p>
					<svg jsbarcode-value="{{this.attributes.label}}"></svg>
				</li>
			{{/each}}
			</ul>
		</div>
		<div class="is-pulled-left">
			<ul>
			{{#each tidColumns.[2]}}
				<li>
					<p class="has-text-centered" data-ui-top-label>
			    		{{#if this.attributes.part}}
							Part: {{this.attributes.part.attributes.name}}
						{{/if}}
					</p>
					<svg  jsbarcode-value="{{this.attributes.label}}"></svg>
				</li>
			{{/each}}
			</ul>
		</div>
		<div class="is-clearfix"></div>
	</div>
</div>