<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{forBin.attributes.name}}</td>
<td>{{moment performedAt}}</td>
<td>{{part.attributes.name}}</td>
<td>{{oldCount}}</td>
<td>{{newCount}}</td>