<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{moment editedAt}}</td>
<td>{{travelerId.attributes.label}}</td>
<td>
	{{#each oldAttributes}}
		<strong>{{@key}}:</strong> {{this}}
	{{/each}}
</td>
<td>
	{{#each newAttributes}}
		<strong>{{@key}}:</strong> {{this}}
	{{/each}}
</td>