<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{fromBin.attributes.name}}</td>
<td>{{toBin.attributes.name}}</td>
<td>{{moment movedAt}}</td>
<td>{{sku.attributes.name}}</td>
<td>{{count}}</td>
<td>{{join tags}}</td>