<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{moment movedAt}}</td>
<td>{{travelerId.attributes.label}}</td>
<td>{{fromBin.attributes.name}}</td>
<td>{{toBin.attributes.name}}</td>