<ul>
	<li class="{{#ifIsRouteActive '/tid'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/tid">TravlerId Actions</a></li>
	<li class="{{#ifIsRouteActive '/inventory_tid_edit'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_tid_edit">Traveler Id Edit Logs</a></li>
	<li class="{{#ifIsRouteActive '/inventory_tid_movement'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_tid_movement">Traveler Id Movement Logs</a></li>
	<li class="{{#ifIsRouteActive '/bin_sku_count'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/bin_sku_count">SKU Actions</a></li>
	<li class="{{#ifIsRouteActive '/inventory_sku_adjustment'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sku_adjustment">SKU Adjustment Logs</a></li>
	<li class="{{#ifIsRouteActive '/inventory_sku_movement'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sku_movement">SKU Movement Logs</a></li>
</ul>