<h2 class="title is-2">Inventory Audit</h2>
<div class="message">
	<div class="message-header">
		For Bin #{{forBin.id}} - {{forBin.attributes.name}}
	</div>
	<div class="message-body">
		<p>Started by {{byUser.attributes.firstName}} {{byUser.attributes.lastName}} at {{moment startedAt}}.</p>
		<dl>
			<dt><label>Total Deviations:</label></dt>
			<dd>{{totalDeviations}}</dd>
			<dt><label>Traveler Id Count Deviations:</label></dt>
			<dd>{{travelerIdCountDeviations}}</dd>
			<dt><label>Traveler Id Match Deviations:</label></dt>
			<dd>{{travelerIdMatchDeviations}}</dd>
			<dt><label>Sales Item Count Deviations:</label></dt>
			<dd>{{salesItemCountDeviations}}</dd>
			<dt><label>Sales Item Match Deviations:</label></dt>
			<dd>{{salesItemMatchDeviations}}</dd>
			<dt><label>Sku Count Deviations:</label></dt>
			<dd>{{skuCountDeviations}}</dd>
		</dl>
	</div>
</div>
<div class="box">
	<h3 class="title is-3">Traveler Ids</h3>
	<table data-ui="travelerIdListTable" class="table is-striped">
		<thead>
			<tr>
				<th>Traveler Id</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="box">
	<h3 class="title is-3">Sales Items</h3>
	<table data-ui="salesItemListTable" class="table is-striped">
		<thead>
			<tr>
				<th>Sales Item</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="box">
	<h3 class="title is-3">SKU Counts</h3>
	<table data-ui="skuListTable" class="table is-striped">
		<thead>
			<tr>
				<th>SKU</th>
				<th>Count</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>