<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>
	{{#if isCompleted}}
		<a class="entity-link" data-ui-link="show" href="{{entityUrl}}">{{forBin.attributes.name}}</a>
	{{else}}
		{{forBin.attributes.name}}
	{{/if}}
</td>
<td>{{moment startedAt}}</td>
<td>
	{{#if endedAt}}
		{{moment endedAt}}
	{{else}}
		In Progress...
	{{/if}}
</td>
<td>
	{{#unless isCompleted }}
		{{#isMyself byUser}}
			<button class="button" name="resume">Resume</button>
		{{/isMyself}}
	{{/unless}}
</td>
