<ul>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_tid_edit'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_tid_edit">Traveler Id Edit Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_tid_movement'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_tid_movement">Traveler Id Movement Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_tid_transform'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_tid_transform">Traveler Id Transform Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_sales_item_edit'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sales_item_edit">Sales Item Edit Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_sales_item_movement'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sales_item_movement">Sales Item Movement Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_sku_adjustment'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sku_adjustment">SKU Adjustment Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_sku_movement'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sku_movement">SKU Movement Logs</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/inventory_sku_transform'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_sku_transform">SKU Transform Logs</a></li>
</ul>