<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{moment transformedAt}}</td>
<td>{{fromTravelerId.attributes.label}}</td>
<td>{{toTravelerId.attributes.label}}</td>
<td>#{{toSalesItem.id}}, SKU: {{toSalesItem.attributes.sku.attributes.name}}, QTY: {{toSalesItem.attributes.quantity}}</td>
<td>{{quantity}}</td>
<td>{{boolean isVoid}}</td>