<td>
	<a class="entity-link" href="{{entityUrl}}">{{label}}</a>
</td>
<td>
	<button type="button" name="showCard" class="button small">Show Card</button>
</td>
<td>{{inboundOrder.attributes.label}}</td>
<td><a data-ui-link="bin" href="{{return bin.url bin}}">{{bin.attributes.name}}</a></td>
<td>{{sku.attributes.name}}</td>
<td><input type="checkbox" name="isSelected" /></td>