<button name="print" type="button" class="button">Print</button>
<button name="back" type="button" class="button">Back</button>
<div data-ui="printContainer">
	<div class="box si-tid-card has-text-centered">
		<div data-ui-top-label>
			<p class="has-text-centered">
				{{#if unit}}
					{{unit.attributes.serial}}
				{{else if part}}
					{{part.attributes.name}}
				{{else if commodity}}
					{{commodity.attributes.name}}
				{{else if unitType}}
					{{unitType.attributes.name}}
				{{/if}}
			</p>
		</div>
		<svg jsbarcode-value="{{label}}"></svg>
	</div>
</div>