<td><a class="entity-link" href="{{entityUrl}}">{{label}}</a></td>
<td>{{serial}}</td>
<td>{{inboundOrder.attributes.label}}</td>
<td>{{outboundOrder.attributes.label}}</td>
<td>{{bin.attributes.name}}</td>
<td>
	{{#if part}}
		Part: {{part.attributes.name}}
	{{/if}}
</td>
<td><input type="checkbox" name="isSelected" /></td>