<div>
	Inventory Alert for {{alert.department.name}}!
	<dl>
		<dt>SKU:</dt>
		<dd>{{alert.sku.name}}</dd>
		<dt>Alert Type:</dt>
		<dd>{{alert.getTypeName}}</dd>
		<dt>Alert Count:</dt>
		<dd>{{alert.count}}</dd>
		<dt>Inventory Count:</dt>
		<dd>{{inventoryCount}}</dd>
	</dl>
</div>
