<td>{{id}}</td>
<td>{{customer.attributes.name}}</td>
<td><a class="entity-link" href="{{entityUrl}}">{{label}}</a></td>
<td>{{truncate description}}</td>
<td>{{boolean isVoid}}</td>
<td>
	{{boolean isShipped}}
	{{#if isShipped}}
		@{{moment shippedAt}}
	{{/if}}
</td>
<td>{{salesItemCount}}</td>