<td><a class="entity-link" href="{{entityUrl}}">{{id}}</a></td>
<td>{{client.attributes.name}}</td>
<td>{{label}}</td>
<td>{{truncate description}}</td>
<td>{{boolean isVoid}}</td>
<td>{{travelerIds.models.length}}</td>