<ul>
	<li class="{{#ifIsRouteActive '/part'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/part">Parts</a></li>
	<li class="{{#ifIsRouteActive '/part_category'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/part_category">Part Categories</a></li>
	<li class="{{#ifIsRouteActive '/part_group'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/part_group">Part Groups</a></li>
	<li class="{{#ifIsRouteActive '/bin'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/bin">Bins</a></li>
	<li class="{{#ifIsRouteActive '/bin_type'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/bin_type">Bin Types</a></li>
	<li class="{{#ifIsRouteActive '/inventory_movement_rule'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/inventory_movement_rule">Inventory Movement Rules</a></li>
</ul>