<ul>
	<li class="is-toggle {{#ifIsRouteActive '/organization'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/organization">Organization</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/user'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/user">Users</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/office'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/office">Offices</a></li>
	<li class="is-toggle {{#ifIsRouteActive '/department'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/department">Departments</a></li>
	{{!-- <li class="is-toggle {{#ifIsRouteActive '/menu_item'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/menu_item">Menu Items</a></li>--}}
	{{#isGrantedRole 'ROLE_DEV'}}
		<li class="is-toggle {{#ifIsRouteActive '/menu_link'}}is-active{{/ifIsRouteActive}}"><a href="{{baseUrl}}/menu_link">Menu Link</a></li>
	{{/isGrantedRole}}
</ul>