<td>{{id}}</td>
<td><a class="entity-link" href="{{entityUrl}}">{{client.attributes.name}}</a></td>
<td>{{label}}</td>
<td>{{truncate description}}</td>
<td>{{boolean isVoid}}</td>
<td>{{travelerIds.models.length}}</td>