<td>{{id}}</td>
<td><a class="entity-link" href="{{entityUrl}}">{{name}}</a></td>
<td>{{truncate description}}</td>
<td>{{department.attributes.name}}</td>
<td>{{partCategory.attributes.name}}</td>
<td>{{binType.attributes.name}}</td>
<td>{{#if isActive}}Yes{{else}}No{{/if}}</td>
<td>{{parent.attributes.name}}</td>