<td><a class="entity-link" href="{{entityUrl}}">{{id}}</a></td>
<td>{{isActive}}</td>
<td>{{position}}</td>
<td>{{menuLink.attributes.name}}</td>
<td>{{department.atrributes.name}}</td>
<td>{{parent.id}}</td>
