<td>{{ username }}</td>
<td><span class="stepthrough-change-outline-alert-isactive"><input type="checkbox" class="user-active-checkbox" {{ isActive?'checked':'' }}/></span></td>
<td>{{ firstName }}</td>
<td>{{ lastName }}</td>
<td>{{ email }}</td>