{% extends 'base-content.html.twig' %}
{% set hideLoginButton = true %}

{% block main_section %}
  {% if error %}
    <div class="notification is-danger">{{ error.messageKey|trans(error.messageData) }}</div>
  {% endif %}
  <form action="{{ path('login_check') }}" method="post">
    <label for="inputUsername" class="label">Username or Email</label>
    <div class="control">
      <input {% if last_username is not defined or last_username is null  %}autofocus {% endif %}type="text" class="input" id="inputUsername" placeholder="Username or Email"  name="_username" value="{{ last_username }}" />
    </div>
    <label for="inputPassword" class="label">Password</label>
    <div class="control">
      <input {% if last_username %}autofocus {% endif %}type="password" class="input" id="inputPassword" placeholder="Password"  name="_password"  />
      <span class="help"><a href="{{ path('reset_password') }}">Forgot?</a></span>
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">Log in</button>
    </div>
    <div>Don't have an account? <a href="{{ path('signup_route') }}">Sign Up.</a></div>
  </form>
{% endblock %}

{% block login_button %}
  test
{% endblock %}