{% extends 'base.html.twig' %}

{% block content %}
  {{ include('partial/nav.html.twig') }}
  <div class="columns si-main">
    <menu class="column menu si-side-menu is-narrow"></menu>
    <div class="column">
      <section class="section">
        <div class="container is-fluid" id="main-section">
          {% if form is defined %}
            <form action="{{ path('reset_password') }}" method="post">
              {{form_label(form.usernameOrEmail, 'Username or Email', { 'label_attr': {'class': 'label'} })}}
              <div class="control">
                {{ form_widget(form.usernameOrEmail, { 'attr': {'class': 'input'} }) }}
                <span class="help is-danger">{{ form_errors(form.usernameOrEmail) }}</span>
              </div>
              <div class="control">
                {{ form_row(form._token) }}
                <button type="submit" class="button is-primary">Send Reset Email</button>
              </div>
            </form>
          {% else %}
            A password reset link has been sent to {{user.getEmail}}.
          {% endif  %}
        </div>
      </section>
      <footer class="footer"></footer>
    </div>
  </div>
{% endblock %}

{% block jspm %}{% endblock %}