<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{moment transformedAt}}</td>
<td>#{{fromBinSkuCount.id}},{{log fromBinSkuCount}} BIN: {{fromBinSkuCount.attributes.bin.attributes.name}}, SKU: {{fromBinSkuCount.attributes.sku.attributes.name}}</td>
<td>#{{toSalesItem.id}}, SKU: {{toSalesItem.attributes.sku.attributes.name}}, QTY: {{toSalesItem.attributes.quantity}}</td>
<td>{{quantity}}</td>
<td>{{boolean isVoid}}</td>