<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{forBin.attributes.name}}</td>
<td>{{moment performedAt}}</td>
<td>{{sku.attributes.name}}</td>
<td>{{oldCount}}</td>
<td>{{newCount}}</td>
<td>{{join tags}}</td>