<td>{{inventoryAlert.attributes.department.attributes.name}}</td>
<td>{{inventoryAlert.attributes.sku.attributes.name}}</td>
<td>{{lookup inventoryAlert.attributes.types this.attributes.inventoryAlert.attributes.type}}</td>
<td>{{inventoryAlert.attributes.count}}</td>
<td>{{moment this.attributes.performedAt}}</td>
<td>{{count}}</td>