<td>{{byUser.attributes.firstName}} {{byUser.attributes.lastName}}</td>
<td>{{moment editedAt}}</td>
<td>{{salesItem.attributes.label}}</td>
<td>
	{{#each oldAttributes}}
		<strong>{{@key}}:</strong> {{castAsType this 'string'}}
	{{/each}}
</td>
<td>
	{{#each newAttributes}}
		<strong>{{@key}}:</strong> {{castAsType this 'string'}}
	{{/each}}
</td>
<td>{{join tags}}</td>